.contact_us{
    background: #ecf0f1;
    width: 400px !important;
    height: 300px;
    margin-left: 40px;
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.contact_us i{
font-size: 55px;
color: #132B13;
transform: translate(165px, 70px);
}
.contact_us p{
    text-align: center;
    transform: translateY(100px);
    color: #F59900;
    font-size: 27px;
}
.contacthead{
    text-align: center;
}
.contacthead p{
    font-size: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 576px) {
    .contact_us{
        width: 300px !important;
        height: 200px !important;
    }
    .contact_us p{
        text-align: center;
        transform: translateY(50px);
        color: #F59900;
        font-size: 18px !important;
    }
    .contact_us i{
        font-size: 55px;
        color: #132B13;
        transform: translate(110px, 30px);
        }
}