.news{
    margin-top: 30px;
    margin-bottom: 30px;
}
.news a{
    text-decoration: none;
    color: #F59900;
}
.news img{
    margin-bottom: 20px;
}
.news .more{
    text-decoration: underline;
}
.headblog{
    text-align: center;
    margin-top: 30px;
}