.containerSlide {
    margin: auto;
}
/* .containerSlide img {
    height: 43rem;
} */
.indicators{
    transform: translateY(-40px);
}
.default-nav{
background-color: #ff9b00 !important;
margin: 20px;
}
.default-nav:hover{
background-color: #dcdde1 !important;
}
.banner{
    position: relative;
}
.contain{
    position: absolute;
    top:100px;
    left: 70px;
}
.white{
    color: #fff;
}
.hinh{
    width: 100%;
    height: 900px;
    overflow: hidden;
}
.hat{
    width: 100%;
}
@media screen and (max-width: 576px) {
    .hinh{
        height: 200px;
    }
    .contain{
        position: absolute;
        top:20px;
        left: 20px;
    }
    .contain h1{
        font-size: 20px;
    }
    .contain p{
        font-size: 15px;
    }
}