/* .header{
    position: fixed;
} */
.img1{
    width: 70px;
}
.cart{
    background-color: #fff;
    border: 1px solid #ff9b00;
    border-radius: 20px;
    padding: 8px 20px;
}
.cart1{
    background-color: #fff;
    border: none;

}
.link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.link:hover{
    color: #ff9b00;
}

.link1{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 20px !important;
}
@media screen and (max-width: 576px) {
.cart button{
padding: 5px 8px ;
}
.cart button i{
    color: #ff9b00;
    margin-right: 5px;
}
.cart button .numb{
    color: red;
}
}
